// Fonts (including not standart fonts)

//@font-face {
	
//	font: {
//		family: "FontName";
//		weight: 100;
//		style: normal;
//	}
//	src: url("../fonts/FontName/regular.eot");
//	src: url("../fonts/FontName/regular.eot?#iefix") format("embedded-opentype"),
//		 url("../fonts/FontName/regular.woff") format("woff"),
//		 url("../fonts/FontName/regular.ttf") format("truetype");
//}

//@mixin FontNameRegular($font-size, $line-height) {
//	font-family: "FontName", Arial, sans-serif;
//	font-weight: 100;
//	font-size: $font-size;
//	line-height: $line-height;
//}

@mixin BaseFont($font-size, $line-height) {

	font-family: "Helvetica", Arial, sans-serif;
	font-weight: normal;
	font-size: $font-size;
	line-height: $line-height;
}

@mixin Font($font-size, $line-height) {

	font-size: $font-size;
	line-height: $line-height;
}

@font-face {
    font-family: 'posterizer_kg_roundedregular';
    src: url('../fonts/Posterizer/posterizer_kg_-_posterizerkgrounded_0.eot');
    src: url('../fonts/Posterizer/posterizer_kg_-_posterizerkgrounded_0.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Posterizer/posterizer_kg_-_posterizerkgrounded_0.woff2') format('woff2'),
         url('../fonts/Posterizer/posterizer_kg_-_posterizerkgrounded_0.woff') format('woff'),
         url('../fonts/Posterizer/posterizer_kg_-_posterizerkgrounded_0.ttf') format('truetype'),
         url('../fonts/Posterizer/posterizer_kg_-_posterizerkgrounded_0.svg#posterizer_kg_roundedregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@mixin posterizer($font-size, $line-height) {

    font-family: "posterizer_kg_roundedregular", Arial, sans-serif;
    font-weight: normal;
    font-size: $font-size;
    line-height: $line-height;
}

@font-face {
    font-family: 'HelveticaNeue Regular';
    src: url('../fonts/Helvetica-Neue-Cyr/HelveticaNeueCyr-Medium.eot');
    src: url('../fonts/Helvetica-Neue-Cyr/HelveticaNeueCyr-Medium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Helvetica-Neue-Cyr/HelveticaNeueCyr-Medium.woff2') format('woff2'),
         url('../fonts/Helvetica-Neue-Cyr/HelveticaNeueCyr-Medium.woff') format('woff'),
         url('../fonts/Helvetica-Neue-Cyr/HelveticaNeueCyr-Medium.ttf') format('truetype'),
         url('../fonts/Helvetica-Neue-Cyr/HelveticaNeueCyr-Medium.svg#posterizer_kg_roundedregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@mixin helveticaRegular($font-size, $line-height) {

    font-family: "HelveticaNeue Regular", Arial, sans-serif;
    font-weight: normal;
    font-size: $font-size;
    line-height: $line-height;
}

@font-face {
    font-family: 'HelveticaNeue Roman';
    src: url('../fonts/Helvetica-Neue-Cyr/HelveticaNeueCyr-Roman.eot');
    src: url('../fonts/Helvetica-Neue-Cyr/HelveticaNeueCyr-Roman.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Helvetica-Neue-Cyr/HelveticaNeueCyr-Roman.woff2') format('woff2'),
         url('../fonts/Helvetica-Neue-Cyr/HelveticaNeueCyr-Roman.woff') format('woff'),
         url('../fonts/Helvetica-Neue-Cyr/HelveticaNeueCyr-Roman.ttf') format('truetype'),
         url('../fonts/Helvetica-Neue-Cyr/HelveticaNeueCyr-Roman.svg#posterizer_kg_roundedregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@mixin helveticaRoman($font-size, $line-height) {

    font-family: "HelveticaNeue Roman", Arial, sans-serif;
    font-weight: normal;
    font-size: $font-size;
    line-height: $line-height;
}